<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Fruit</title>
</head>
<body>
    <h1>Edit <%= fruit.name %></h1>
    <form action="">
        <label for="name">Name: </label>
        <input name="name" id="name" type="text" value="<%= fruit.name %>">
        
        <label for="isReadyToEat" >Is Ready to Eat?</label>
        <input <% if(fruit.isReadyToEat){ %> checked <% } %> name="isReadyToEat" id="isReadyToEat" type="checkbox">

        <button type="submit">Update Fruit</button>
    </form>
</body>
</html>