<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fruit Details</h1>
    <p><%= foundFruit.name %></p>

    <form action="/fruits/<%= foundFruit._id %>/delete" method="post">
        <button type="submit">Delete Fruit</button>
    </form>



    <!-- Exercise 1: use scriplet tags to write if statement that shows: 'Fruit is ready to eat!' if the fruit isReadyToEat is true and 'Not ready to eat :(' if false -->
</body>
</html>